*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font: normal 16px/1.5 'Titillium Web', sans-serif;
    background: #ffffff;
    color: #000000;
    overflow-x: hidden;
    padding-bottom: 50px;
  }
  
  .timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #ffffff;
  }
  
  .timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    z-index: 2;
    background: #000000;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
  
  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 20px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  .timeline ul li div time {
    
    position: absolute;
    background: #000000;
    color: #ffffff;
    width: 80px;
    height: 30px;
    top: -15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
  }
  
  .timeline ul li div div {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  }
  
  .timeline ul li div div p {
    text-align: center;
  }
  
  .timeline ul li div .discovery {
    margin-right: 10px;
  }
  
  .timeline ul li:nth-of-type(odd) > div {
    left: 45px;
  }
  
  .timeline ul li:nth-of-type(even) > div {
    left: -439px;
  }
  
  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  
  .timeline ul li:nth-of-type(odd) div {
    transform: translate3d(100px, -10px, 0) rotate(10deg);
  }
  
  .timeline ul li:nth-of-type(even) div {
    transform: translate3d(-100px, -10px, 0) rotate(10deg);
  }
  
  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
  
  @media screen and (max-width: 900px) {
    .timeline ul li div {
      width: 250px;
      flex-direction: column;
    }
    .timeline ul li div div {
      width: 80%;
      margin: 10px;
    }
    .timeline ul li:nth-of-type(even) > div {
      left: -289px;
    }
  }
  
  @media screen and (max-width: 600px) {
    body {
      background: #ffffff;
    }
    .timeline ul li {
      margin-left: 20px;
    }
    .timeline ul li div {
      width: calc(100vw - 91px);
    }
    .timeline ul li:nth-of-type(even) > div {
      left: 45px;
    }
  }
  