<%- include('partials/about_header'); -%>
<div class="content-container">
  <header class = "header">
    <h1>About</h1>
  </header>

  <div class="section-container">
    <section id="about">
      <h2>About the Project</h2>
      <p>
        We do not typically have time or room in our degree programmes to
        discuss the contributions made by various pioneers in Computer Science.
        Getting to know the work of computer scientists over time would not only
        be interesting from a historical perspective but it will also help
        students understand the evolution of the subject and the impact of
        earlier work on modern concepts and technologies. Diversity in the
        curriculum is of interest within our University as well as the wider
        academic community. An easily accessible electronic resource would also
        help highlight the diversity of pioneers in Computer Science. The aim of
        this project is to produce an online resource that contains easily
        navigable and searchable information about pioneers in CS.
      </p>
    </section>
  </div>

  <div class="section-container">
    <section id="primary-objectives">
      <h2>Primary Objectives</h2>
      <ul class="objectives-list">
        <li>
          Research and select a suitable classification system (most preferably
          ACM Digital Library) to group the contributions of pioneers in
          computer science.
        </li>
        <li>
          Identify pioneers in computer science from all over the world using a
          reproducible search strategy.
        </li>
        <li>
          Design and develop a website that can be easily accessed by all group
          ages and learn about the pioneers (Global perspective more than
          academic focus) and submit ownership to the University of StAndrews.
        </li>
        <li>
          Develop a user-friendly interface that makes it easy for all user
          groups to interact with the website.
        </li>
        <li>
          Incorporate a basic, user-friendly search and filter facility that
          allows users to efficiently locate and sort information about the
          computer science pioneers on the website. This function should
          accommodate the needs of diverse users and enable them to navigate the
          content easily.
        </li>
      </ul>
    </section>
  </div>
  <div class="section-container">
    <section id="secondary-objectives">
      <h2>Secondary Objectives</h2>
      <ul class="objectives-list">
        <li>
          Evaluate the digital platform with various user categories to ensure
          usability, accessibility, and relevance(Refining the
          proof-of-concept).
        </li>
        <li>
          Tailoring to StAndrews by dedicating part resource by highlighting the
          contributions of pioneers that have studied or taught at the
          University of StAndrews.
        </li>
        <li>
          Providing visualizations of the pioneers' contributions and including
          the sources and web links that were used as references. The electronic
          resource will have the functionality to present diagrams or
          illustrations representing the pioneers’ contributions.
        </li>
        <li>
          Create supporting documentation to help users navigate and use the
          electronic resource.
        </li>
      </ul>
    </section>
  </div>

  <div class="section-container">
    <section id="tertiary-objectives">
      <h2>Tertiary Objectives</h2>
      <ul class="objectives-list">
        <li>
          Explore ways to incorporate multimedia content (such as videos or
          podcasts) to make the electronic resource more engaging.
        </li>
        <li>
          Creating roadmaps based on search criteria or era (century or decade).
        </li>
        <li>
          Develop a feedback mechanism to collect feedback from users on the
          usefulness of the electronic resource and areas for improvement.
        </li>
        <li>
          Investigate the potential for expanding the resource to include
          pioneers in related fields, such as electrical engineering or
          mathematics.
        </li>
      </ul>
    </section>
  </div>

  <div class="section-container">
    <section id="creator">
      <h2>About the Creator</h2>
      <p>This project was created by Ajay Pradeep.</p>
    </section>
  </div>
</div>
<%- include('partials/footer'); -%>
