<%- include('partials/headers/footer_page_header'); -%>
<div class="content-container">
  <h1>Accessibility Statement</h1>
  <p>
    The Pioneers in Computer Science website is committed to providing a website
    that is accessible to the widest possible audience, regardless of technology
    or ability. We are actively working to increase the accessibility and
    usability of our website and in doing so adhere to many of the available
    standards and guidelines. </br>

</br> We have made the entire website with black text on a white background to
    make it easier to read. We have also made the text as large as possible
    without compromising the design of the website. We have also made the
    website as easy to navigate as possible. We have also made the website
    compatible with screen readers. </br>

</br> We are continually seeking out solutions that will bring all areas of the
    site up to the same level of overall web accessibility. In the meantime
    should you experience any difficulty in accessing the Pioneers in Computer
    Science website, please don’t hesitate to contact us. </br> </br>

</br>  If you have any questions or suggestions regarding the accessibility of this
    site, please contact us, as we are continually striving to improve the
    experience for all visitors. </br>

</br>  If for any reason you cannot access any of the material on our website,
    please contact us and we will work to resolve the problem as soon as
    possible. </br>

</br>  We welcome your feedback on the accessibility of the Pioneers in Computer
    Science website. Please let us know if you encounter accessibility barriers
    on the Pioneers in Computer Science website by contacting us. </br>


</br>   The website is semi-compliant with the Web Content Accessibility Guidelines
    <a href="https://www.w3.org/TR/WCAG21/">(WCAG21)</a> 2.1 level AA.
  </p>
</div>
<%- include('partials/footers/footer'); -%>
