<%- include('partials/headers/by_field_header'); -%>
<div class="content-container">
  <h1>Browse By Field</h1>
  <div class="search-container">
    <% for (let i = 0; i < classifications.length; i++) { %>
    <div class="field-container">
      <form action="/by_field" method="post">
        <button
          class="button-55"
          role="button"
          name="<%= classifications[i] %>"
          type="submit"
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-collection" viewBox="0 0 16 16">
            <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"></path>
          </svg>
          <%= classifications[i] %>
        </button>
      </form>
    </div>
    <% } %>
  </div>
</div>
<%- include('partials/footers/footer'); -%>
