<%- include('partials/headers/by_name_header'); -%>
<div class="content-container">
  <h1>Search By Name</h1>
  <div class="search-container">
    <div class="alphabet-container">
      <form action="/by_name" method="post">
        <button type="submit" name = "A">A</button>
        </form>
    </div>
    <div class="alphabet-container">
        <form action="/by_name" method="post">
          <button type="submit" name = "B">B</button>
          </form>
      </div>
  </div>
</div>
<%- include('partials/footers/footer'); -%>
