<%- include('partials/headers/chat_header'); -%>
<div class="content-container">
  <header class="chat-header">
    <h1>
      Hiya I'm SKY
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="110"
        height="110"
        fill="currentColor"
        class="bi bi-rainbow"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 4.5a7 7 0 0 0-7 7 .5.5 0 0 1-1 0 8 8 0 1 1 16 0 .5.5 0 0 1-1 0 7 7 0 0 0-7-7zm0 2a5 5 0 0 0-5 5 .5.5 0 0 1-1 0 6 6 0 1 1 12 0 .5.5 0 0 1-1 0 5 5 0 0 0-5-5zm0 2a3 3 0 0 0-3 3 .5.5 0 0 1-1 0 4 4 0 1 1 8 0 .5.5 0 0 1-1 0 3 3 0 0 0-3-3zm0 2a1 1 0 0 0-1 1 .5.5 0 0 1-1 0 2 2 0 1 1 4 0 .5.5 0 0 1-1 0 1 1 0 0 0-1-1z"
        />
      </svg>
    </h1>
    <h2>(SMART KNOW-ALL YODA)</h2>
    <!-- <h2>Ask me anything you want to know about the world of Computer Science and its Pioneers </h2> -->
    <p>
      * Powered By CHATGPT
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        fill="currentColor"
        class="bi bi-robot"
        viewBox="0 0 16 16"
      >
        <path
          d="M6 12.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5ZM3 8.062C3 6.76 4.235 5.765 5.53 5.886a26.58 26.58 0 0 0 4.94 0C11.765 5.765 13 6.76 13 8.062v1.157a.933.933 0 0 1-.765.935c-.845.147-2.34.346-4.235.346-1.895 0-3.39-.2-4.235-.346A.933.933 0 0 1 3 9.219V8.062Zm4.542-.827a.25.25 0 0 0-.217.068l-.92.9a24.767 24.767 0 0 1-1.871-.183.25.25 0 0 0-.068.495c.55.076 1.232.149 2.02.193a.25.25 0 0 0 .189-.071l.754-.736.847 1.71a.25.25 0 0 0 .404.062l.932-.97a25.286 25.286 0 0 0 1.922-.188.25.25 0 0 0-.068-.495c-.538.074-1.207.145-1.98.189a.25.25 0 0 0-.166.076l-.754.785-.842-1.7a.25.25 0 0 0-.182-.135Z"
        />
        <path
          d="M8.5 1.866a1 1 0 1 0-1 0V3h-2A4.5 4.5 0 0 0 1 7.5V8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1v-.5A4.5 4.5 0 0 0 10.5 3h-2V1.866ZM14 7.5V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.5A3.5 3.5 0 0 1 5.5 4h5A3.5 3.5 0 0 1 14 7.5Z"
        />
      </svg>
    </p>
  </header>
  <div class="chat-container">
    <!-- This is where the backend meets the frontend, to put plainly This is where the magic happens. -->
  </div>
  <div class="note-container">
    <h2>NOTE:</h2>
    <ul>
      <li>
        With great power comes great responsibility. Please be responsible with
        your questions.
      </li>

      <li>
        All questions and responses are stored in the database for fine-tuning
        the chatbot. It is anonymous and no personal information is stored.
      </li>
      <li>
        This chatbot is a work in progress. It is not perfect and based on the
        training data it has been given. It will be improved over time.
      </li>
      <li>
        Disclaimer: The Chatbot responses is not a reflection of the creator's
        views or opinions.
      </li>
      <li>
        Disclaimer: Please note that this chatbot is designed based on
        information available up until September 2021.
      </li>
    </ul>
  </div>
</div>
<%-include('partials/footers/footer');%>
