<%- include('partials/headers/footer_page_header'); -%>
<div class="content-container">
  <h1>Copyright Information</h1>

  <p>
    The content on this website is licensed under a Creative Commons
    Attribution-Non Commercial-ShareAlike 4.0 International License.
    and MIT License.
    If you believe the site is in violation of your intellectual property rights,
    visit the <a href="/takedown_policy" >TakeDown Policy</a> page to learn more about the process.
  </p>
</div>
<%- include('partials/footers/footer'); -%>
