<%- include('partials/headers/footer_page_header'); -%>
<div class="content-container">
  <h1>Disclaimer</h1>

  <p>
    The information contained in this website is for general information
    purposes only. The information is provided by various sources and while we
    endeavour to keep the information up to date and correct, we make no
    representations or warranties of any kind, express or implied, about the
    completeness, accuracy, reliability, suitability or availability with
    respect to the website or the information, products, services, or related
    graphics contained on the website for any purpose.
  </p>
</div>
<%- include('partials/footers/footer'); -%>
