<%- include('partials/headers/error_header'); -%>
<div class="content-container">
  <h1>Oops looks like you broke my website...</h1>
  <div class="img-container">
    <img
      src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExZTlvY2FzMmVwbWhncjMydnJ5eHp1b2kyZGczd3J2Njk1YWZiZnJkcSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9dHM/hS42TuYYnANLFR9IRQ/giphy.gif"
      alt="Error 404"
    />
  </div>
  <a href="/" alt="Back to Home Page">
    <button class="button-49" role="button">Home</button>
  </a>
</div>
<%- include('partials/footers/error_footer'); -%>
