<%- include('partials/headers/index_header'); -%>

<div class="content-container">
  <div class="logo-container">
    <a href="/">
      <img
        src="/images/Pioneers-in-computer-science-logo-v1.png"
        alt="Pioneers in Computer Science LOGO"
        class="logo"
      />
    </a>
  </div>
  <div class="search-container">
    <form action="/search" method="post" class="search-form" id="searchForm">
      <input
        type="text"
        name="search"
        placeholder="Search for a Pioneer"
        autocomplete="off"
        required
      />
      <button type="submit" class="submit-search" id="search-button-custom">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>
  <div class="pioneer-information-container">
    <h1>Learn all about the Pioneers in Computer Science...and more</h1>
  </div>
  <div class="border-seperation-container">
    <div class="mac-menu">
      <div class="menu-row">
        <span class="menu-button red"></span>
        <span class="menu-button yellow"></span>
        <span class="menu-button green"></span>
      </div>
      <div class="menu-column">
        <a href="/">
          <button class="button-11" role="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-house"
              viewBox="0 0 16 16"
            >
              <path
                d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"
              />
            </svg>
            Home
          </button>
        </a>
        <a href="/about">
          <button class="button-11" role="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              fill="currentColor"
              class="bi bi-person-badge"
              viewBox="0 0 16 16"
            >
              <path
                d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"
              ></path>
              <path
                d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z"
              ></path>
            </svg>
            About
          </button>
        </a>
        <a href="/contact">
          <button class="button-11" type="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-telephone"
              viewBox="0 0 16 16"
            >
              <path
                d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
              />
            </svg>

            Contact
          </button>
        </a>
        <a href="/by_name">
          <button class="button-11" type="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-type"
              viewBox="0 0 16 16"
            >
              <path
                d="m2.244 13.081.943-2.803H6.66l.944 2.803H8.86L5.54 3.75H4.322L1 13.081h1.244zm2.7-7.923L6.34 9.314H3.51l1.4-4.156h.034zm9.146 7.027h.035v.896h1.128V8.125c0-1.51-1.114-2.345-2.646-2.345-1.736 0-2.59.916-2.666 2.174h1.108c.068-.718.595-1.19 1.517-1.19.971 0 1.518.52 1.518 1.464v.731H12.19c-1.647.007-2.522.8-2.522 2.058 0 1.319.957 2.18 2.345 2.18 1.06 0 1.716-.43 2.078-1.011zm-1.763.035c-.752 0-1.456-.397-1.456-1.244 0-.65.424-1.115 1.408-1.115h1.805v.834c0 .896-.752 1.525-1.757 1.525z"
              />
            </svg>

            Name
          </button></a
        >
        <a href="/by_country"
          ><button class="button-11" type="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-globe"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z"
              />
            </svg>

            Country
          </button>
        </a>
        <a href="/by_field">
          <button class="button-11" type="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-collection-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"
              />
            </svg>
            Field
          </button></a
        >
      </div>
    </div>
    <div class="carousel-mac-container">
      <div class="mac-header">

      </div>
      <!-- Carousel starts here -->
      <div class="carousel-container">
        <div
          class="carousel slide"
          id="carouselExampleIndicators"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="3"
              aria-label="Slide 4"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="4"
              aria-label="Slide 5"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="images/carousel/alan-turing-carousel.webp"
                class="d-block w-100"
                alt="Alan Turing"
                style="height: 800px; width: fit-content"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>Alan Turing</h5>
                <p>
                  Alan Mathison Turing was an English mathematician, computer
                  scientist, logician, cryptanalyst, philosopher, and
                  theoretical biologist.
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="images/carousel/ada-lovelace-carousel.webp"
                class="d-block w-100"
                alt="Ada Lovelace"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>Ada Lovelace</h5>
                <p>
                  Augusta Ada King, Countess of Lovelace was an English
                  mathematician and writer, chiefly known for her work on
                  Charles Babbage's proposed mechanical general-purpose
                  computer, the Analytical Engine.
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="images/carousel/charles-babbage-carousel.webp"
                class="d-block w-100"
                alt="Charles Babbage"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>Charles Babbage</h5>
                <p>
                  Charles Babbage KH FRS was an English polymath. A
                  mathematician, philosopher, inventor and mechanical engineer,
                  Babbage originated the concept of a digital programmable
                  computer.
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="images/carousel/grace-hopper-carousel.webp"
                class="d-block w-100"
                alt="Grace Hopper"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>Grace Hopper</h5>
                <p>
                  Grace Brewster Murray Hopper was an American computer
                  scientist and United States Navy rear admiral. One of the
                  first programmers of the Harvard Mark I computer, she was a
                  pioneer of computer programming who invented one of the first
                  linkers.
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="images/carousel/john-von-neumann-carousel.webp"
                class="d-block w-100"
                alt="John von Neumann"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>John von Neumann</h5>
                <p>
                  John von Neumann was a Hungarian-American mathematician,
                  physicist, computer scientist, engineer and polymath.
                  Formulated the von Neumann architecture upon which most modern
                  computers are based.
                </p>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <!-- Carousel ends here -->
    </div>
  </div>
</div>

<%-include('partials/footers/footer'); -%>
