<%- include('partials/headers/footer_page_header'); -%>
<div class="content-container">
  <h1>TakeDown Policy</h1>
  <p>
    If you are believe that any content on this website is in violation of your 
    intellectual property rights, please use the <strong>contact page </strong>with the following details:
    <ul style= "font-weight: bold;" >
        <li>URL of the page where the content is located</li>
        <li>URL of the page where the content is linked from</li>
        <li>URL of the content</li>
        <li>Proof of ownership of the content</li>
        <li> Your Contact Details</li>
    </ul>
    <p>
        If we are satisfied that the content is in violation of your intellectual property rights, we will take down the content within 48 hours.
        and the following actions will take place :
    </p>
    <ul style= "font-weight: bold;">
        <li>Acknowledge the recipt of the complaint by email</li>
        <li>Take down the content within 48 hours</li>
    </ul>
  </p>
</div>
<%- include('partials/footers/footer'); -%>
