<%- include('partials/headers/footer_page_header'); -%>
<div class="content-container">
  <h1>Takedown Policy</h1>
  <p>
    If you are believe that any content on this website is in violation of your
    intellectual property rights, please use the <a href="/contact">Contact</a> Page with the following details:
  </p>
    <ul class="takedown-list" >
        <li>URL of the page where the content is located</li>
        <li>URL of the page where the content is linked from</li>
        <li>URL of the content</li>
        <li>Proof of ownership of the content</li>
        <li> Your Contact Details</li>
    </ul>
    <p>
        If we are satisfied that the content is in violation of your intellectual property rights, the following actions will take place :
    </p>
    <ul class="takedown-list" >
        <li>Acknowledge the recipt of the complaint by email</li>
        <li>Take down the content within 48 hours</li>
    </ul>

</div>
<%- include('partials/footers/footer'); -%>
