<%- include('partials/headers/index_header_redes'); -%>

<div class="content-container">
  <div class="logo-container">
    <a href="/">
      <img
        src="/images/Pioneers-in-computer-science-logo-v1.png"
        alt="Pioneers in Computer Science LOGO"
        class="logo"
      />
    </a>
  </div>
  <div class="search-container">
    <form action="/search" method="post" class="search-form" id="searchForm">
      <input
        type="text"
        name="search"
        placeholder="Search for a Pioneer"
        autocomplete="off"
        required
      />
      <button type="submit" class="submit-search" id="search-button-custom">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>
  <div class="pioneer-information-container">
    <h1>Learn all about the Pioneers in Computer Science...and more</h1>
  </div>
  <div class="border-seperation-container">
    <div class="mac-menu">
        <div class="menu-row">
      <span class="menu-button red"></span>
      <span class="menu-button yellow"></span>
      <span class="menu-button green"></span>
    </div>
    <div class="menu-column">
        <!-- HTML !-->
<button class="button-11" role="button">Button 11</button>

        <!-- Add more options here -->
      </div>
    </div>

    <!-- Carousel starts here -->
    <div class="carousel-container">
      <div
        class="carousel slide"
        id="carouselExampleIndicators"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="3"
            aria-label="Slide 4"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="4"
            aria-label="Slide 5"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="images/carousel/alan-turing-carousel.webp"
              class="d-block w-100"
              alt="Alan Turing"
              style="height: 800px; width: fit-content"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Alan Turing</h5>
              <p>
                Alan Mathison Turing was an English mathematician, computer
                scientist, logician, cryptanalyst, philosopher, and theoretical
                biologist.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="images/carousel/ada-lovelace-carousel.webp"
              class="d-block w-100"
              alt="Ada Lovelace"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Ada Lovelace</h5>
              <p>
                Augusta Ada King, Countess of Lovelace was an English
                mathematician and writer, chiefly known for her work on Charles
                Babbage's proposed mechanical general-purpose computer, the
                Analytical Engine.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="images/carousel/charles-babbage-carousel.webp"
              class="d-block w-100"
              alt="Charles Babbage"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Charles Babbage</h5>
              <p>
                Charles Babbage KH FRS was an English polymath. A mathematician,
                philosopher, inventor and mechanical engineer, Babbage
                originated the concept of a digital programmable computer.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="images/carousel/grace-hopper-carousel.webp"
              class="d-block w-100"
              alt="Grace Hopper"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Grace Hopper</h5>
              <p>
                Grace Brewster Murray Hopper was an American computer scientist
                and United States Navy rear admiral. One of the first
                programmers of the Harvard Mark I computer, she was a pioneer of
                computer programming who invented one of the first linkers.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="images/carousel/john-von-neumann-carousel.webp"
              class="d-block w-100"
              alt="John von Neumann"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>John von Neumann</h5>
              <p>
                John von Neumann was a Hungarian-American mathematician,
                physicist, computer scientist, engineer and polymath. Formulated
                the von Neumann architecture upon which most modern computers
                are based.
              </p>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <!-- Carousel ends here -->
  </div>
</div>

<%-include('partials/footers/footer'); -%>
