/* Overall container */
.container {
  margin: auto;

  border-radius: 10px;
}

/* Style for the footer */
footer {
  background-color: #ffffff;
  color: #212529;
}

/* Logo style */
#footer-logo {
  margin-right: 1em;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  border-radius: 50%;
}

/* Header within the footer */
footer h2 {
  font-family: "Staatliches", "sans-serif";
  font-size: 3rem;
  color: black;
}

footer h5 {
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  color: black;
  font-weight: 600;
}

/* Link styles within the footer */
.nav-link {
  color: #000000;
  transition: color 0.5s;
}

.nav-link:hover {
  color: #212529;
  text-decoration: none;
}

/* Space between footer items */
footer .row > .col {
  margin-bottom: 1.5rem;
}

footer ul li {
  font-size: 1.2rem;
}

.nav-link.p-0.text-body-secondary {
  font-family: "Roboto Mono", monospace !important;
  color: black !important;
  font-weight: 300 !important;
}

/* Change logo size on smaller screens */
@media (max-width: 576px) {
  #footer-logo {
    height: 150px;
    width: 150px;
  }
}
