body,
html {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #dcd9d4;
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-blend-mode: screen;
  overflow-x: hidden;
}

#body {
  transition: opacity 2s ease-in-out;
}

/* Development Message header starts here - to be removed after website is completed */

.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 30px;
}

.header-top p {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* You need to specify a height for vertical alignment. It can be any value depending on your design */
}

/* Development Message header ends here  - to be removed after website is completed*/

/* Header content starts here - Basically navigation bar*/

.logo {
  width: 90px;
  height: 90px;
  margin: 0;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  height: 80px; /* Adjusted the container height according to the logo size - you can later vary it if the logo changes*/
  border-bottom: 1px solid #e5e5e5;
}

.header-content--right {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  margin-right: 10px;
  margin-bottom: 5px;
}

/*This css code is for the a-links to look more appeasing rather than standing out from the default.*/
a {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

/*Creating an hovering effect if  the user hovers over the links*/

.header-content--right--link {
  position: relative;
  display: inline-block;
  padding: 8px 12px;
  transition: color 0.3s, background-color 0.3s;
}

.header-content--right--link:hover {
  color: #990001;
  background-color: #f2f1ec;
}

.header-content--right--link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #f2f1ec;
  transition: width 0.3s;
}

.header-content--right--link:hover::before {
  width: 100%;
}

/*End of index link ref styling - end of navigation bar styles*/

/*Start of the content styling which includes TBC*/


.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 50px;
  /* border: 5px solid #990001; /* For - Refernce : to see the content container - will be removed after development. */
  margin-left: 90px;
  margin-right: 90px;
}

h1 {
  position: relative;
  font-family: "Staatliches", cursive;
  color: black;
  font-size: 4.5rem !important;
  text-align: center;
  margin: 50% auto;
}

/*Start of the styling for the search function found on the index page*/
.search-container {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-form {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border: 0.5px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.search-form input {
  border: none;
  outline: none;
  padding: 0 10px;
  width: 700px;
  height: 30px;
  font-size: 1rem;
}

.search-form button {
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
}

#search-button-custom {
  border: none;
  outline: none;
  background-color: white;
  color: #000000;
  font-size: 1.6rem;
  padding: 0 10px;
  cursor: pointer;
}

#search-button-custom:hover {
  background-color: #f2f1ec;
  color: #990001;
}

/*End of the styling for the search function found on the index page*/

/*Start of the styling for the Carousel  container found on the index page*/

.carousel-container {
  position: relative;
  margin: 50px auto;
  height: 800px;
  width: 1200px;
  overflow: hidden; /* Prevents the inner content from overflowing. */
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.carousel {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%; /* Make the carousel occupy the full height of the carousel-container. */
}

.carousel img {
  height: 100%; /* Make the images occupy the full height of the carousel. */
  object-fit: cover; /* Adjusts the size of the image within its box, cropping if necessary. */
}

.carousel h5 {
  font-family: "Staatliches", cursive;
  color: white;
  background-color: black;
  opacity: 0.8;
  font-size: 4rem !important;
  margin-top: -200px !important;
}

.carousel p {
  position: absolute;
  font-family: "Staatliches", cursive;
  background-color: black;
  opacity: 0.8;
  color: white;
  font-size: 1.6rem !important;
  margin-top: -9px;
}

/*End of the styling for the Carousel container found on the index page*/

/*Start of the styling for the footer container found on the index page*/

footer {
  display: flex;
  flex: 1;
  flex-direction: row;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 100px;
  background-color: #1a1a19;
  color: white;
  height: auto;
}

.footer__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
}

.column-container {
  display: flex;
  justify-content: space-between; /* This will add space between your columns */
}

.column-container-1 {
  position: relative;
  margin-top: 100px;
}

.column-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.column-container-2 {
  position: relative;
  margin-top: 100px;
}

.column-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

footer h2 {
  position: relative;
  font-family: "Staatliches", cursive;
  color: white;
  font-size: 2.3rem !important;
  text-align: left;
  margin-left: 25px;
  margin-top: 30px;
}

footer li {
  position: relative;
  font-family: "Staatliches", cursive;
  color: white;
  font-size: 1.2rem !important;
  text-align: left;
  margin-left: 50px;
  justify-content: space-between;
  margin-top: 10px;
}
