body,
html {
  zoom: 85%;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;

}

#body {
  transition: opacity 2s ease-in-out;
}

/* Development Message header starts here - to be removed after website is completed */

.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 30px;
}

.header-top p {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* You need to specify a height for vertical alignment. It can be any value depending on your design */
}

/* Development Message header ends here  - to be removed after website is completed*/

/* Header content starts here - Basically navigation bar*/

.logo {
  width: 120px;
  height: 120px;
  margin: 0;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  height: 100px; /* Adjusted the container height according to the logo size - you can later vary it if the logo changes*/
  border-bottom: 1px solid #e5e5e5;
}

.header-content--right {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  
}

/*This css code is for the a-links to look more appeasing rather than standing out from the default.*/
a {
  font-family: 'Cabin Sketch', cursive !important;
  font-weight: 700 ;
  color: black;
  font-size: 2rem;
  text-decoration: none;
}

/*Creating an hovering effect if  the user hovers over the links*/


.header-content--right--link {
  position: relative;
  display: inline-block;
  padding: 8px 12px;
  transition: color 0.3s, background-color 0.3s;
}


.header-content--right--link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #f2f1ec;
  transition: width 0.3s;
}

.header-content--right--link:hover::before {
  width: 100%;
}

.btn {
  font-family: 'Cabin Sketch', cursive !important;
  background-color: #fafafa;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  color: black;
  font-size: 2rem;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 8px 12px;
  transition: color 0.3s, background-color 0.3s;
  font-weight: 700 ;
  margin-right: 20px;
}

.btn:hover {
  color: #990001;
  background-color: #f2f1ec;
}

.btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #f2f1ec;
  transition: width 0.3s;
}

.btn:hover::before {
  width: 100%;
}

/* add a custom arrow */
.btn.dropdown-toggle::after {
display: none;
}

.btn.dropdown-toggle:hover::after {
  border-color: #990001;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  /* Without this, clicking will make it sticky */
  pointer-events: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0%;
  z-index: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
}

.dropdown-menu a {
  font-family: 'Cabin Sketch', cursive !important;
  font-size: 1.4rem !important;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  display: block;
  text-decoration: none;
  align-items: center;
  text-align: center;
  font-weight: 700 ;
}

.dropdown-menu a:hover {
  background-color: #f2f1ec;
  color: #990001;
}

.dropdown-btn {
  background-color: #f9f9f9;
  border-style: hidden;
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  border: 1px solid #e5e5e5;
}

.dropdown-btn:hover {
  color: #990001;
  background-color: #f2f1ec;
}

svg {
  margin-top: -5px;
}


.header-content {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.header-content--start{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -20px;
  margin-top: 5px;
}

/*End of index link ref styling - end of navigation bar styles*/


/*Start of the styling for the footer container found on the index page*/

footer {

  display: flex;
  flex: 1;
  flex-direction: row;
  position: relative;
  margin-top: 100px;
  background-color: #000000;
  color: white;
  height: auto;
}

.footer__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
}

.column-container {
  display: flex;
  justify-content: space-between; /* This will add space between your columns */
}

.column-container-1 {
  position: relative;
  margin-top: 100px;
}

.column-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.column-container-2 {
  position: relative;
  margin-top: 100px;
}

.column-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

footer h2 {
  position: relative;
  font-family: 'Cabin Sketch', cursive !important;
  color: white;
  font-size: 2.3rem !important;
  text-align: left;
  margin-left: 25px;
  margin-top: 30px;
}

footer li {
  position: relative;
  font-family: 'Cabin Sketch', cursive !important;
  color: white;
  font-size: 1.2rem !important;
  text-align: left;
  margin-left: 50px;
  justify-content: space-between;
  margin-top: 10px;
}

/*End of the styling for the footer container found on the index page*/


/*Start of the content styling which includes TBC*/

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 50px;
  /* border: 5px solid #990001; /* For - Refernce : to see the content container - will be removed after development. */
  margin-left: 50% auto;
  margin-right: 50% auto;
}

h1 {
  position: relative;
  font-family: 'Cabin Sketch', cursive !important;
  color: black;
  font-size: 5rem !important;
  text-align: center;
  margin: 50% auto;
}

/*Start of the styling for the search function found on the index page*/
.search-container {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-form {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  border-radius: 50px;
}

.search-form input {
  border: none;
  outline: none;
  padding: 0 10px;
  width: 700px;
  height: 30px;
  font-size: 1rem;
}

.search-form button {
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
}

#search-button-custom {
  border: none;
  outline: none;
  background-color: white;
  color: #000000;
  padding: 0 10px;
  cursor: pointer;
  font-size: 1.5rem;
}

#search-button-custom:hover {
  background-color: #f2f1ec;
  color: #0077ff;
  border-radius: 50%;
}

.search-form input::placeholder {
  font-family: 'Roboto-mono', monospace;
  font-size: 1.5rem ;
  color: #000000;
 font-weight: 500 !important;
}

.search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 50px;
  /* border: 5px solid #990001; /* For - Refernce : to see the content container - will be removed after development. */
  margin-left: 50% auto;
  margin-right: 50% auto;
}

.hide {
  display: none;
}

/*End of the styling for the search function found on the index page*/

/*Start of the styling for the Carousel  container found on the index page*/

.carousel-container {
  position: relative;
  margin: 50px auto;
  height: 800px;
  width: 1200px;
  overflow: hidden; /* Prevents the inner content from overflowing. */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;  
  justify-content: center;
  align-items: center;


}

.carousel {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%; /* Make the carousel occupy the full height of the carousel-container. */
}

.carousel img {
  height: 100%; /* Make the images occupy the full height of the carousel. */
  object-fit: cover; /* Adjusts the size of the image within its box, cropping if necessary. */
}

.carousel h5 {
  font-family: "Staatliches", cursive;
  color: white;
  background-color: black;
  opacity: 0.8;
  font-size: 4rem !important;
  margin-top: -200px !important;
}

.carousel p {
  position: absolute;
  font-family: "Staatliches", cursive;
  background-color: black;
  opacity: 0.8;
  color: white;
  font-size: 1.6rem !important;
  margin-top: -9px;
}

/*End of the styling for the Carousel container found on the index page*/


/*Start of the styling for the redesigned home page  container found on the index page*/


.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  height: 400px;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  border-radius: 50%;
  -webkit-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: all 1s ease-in-out;

  justify-content: right;

}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/70% 60% 30% 40%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.logo {
  width: 400px;
  height: 400px;
  margin-left: 30px !important;
}

.website-name {
  position: relative;
  display: flex;
  font-family: 'Cabin Sketch', cursive ;
  color: black;
  font-size: 3rem ;
}

.pioneer-information-container {
  margin-top: 10px;
  -webkit-animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.border-seperation-container{
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  width: 1400px;
  height: 900px;
  border-radius: 10px;
  
}


.mac-menu {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 10px;
  border-bottom: 2px solid #e5e5e5;
  background-color: #f2f1ec;
  width: 12%;
  
}

.menu-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;;
}


.menu-column {
  display: flex;
  flex-direction: column;
}

.menu-button {
  display: block;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 50%;
}


.menu-button {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
  margin: 5px;
}

.red {
  background-color: #ff5f57;
}

.yellow {
  background-color: #ffbd2e;
}

.green {
  background-color: #27c93f;
}


/* CSS */
.button-11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 14px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 900 ;
  border-radius: 6px;
  color: #000000;
  background-color: inherit;
  border: none;
 
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.button-11 svg {
  height: 30px;
  width: 30px;
  margin-top: -3px;
  margin-right: 15px;
  color: #0077ff; /*mac blue color*/
}

.button-11:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.button-11:hover {
  background-color:  #e5e5e5;
  cursor: pointer;
}

.carousel-mac-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mac-header {
padding-bottom:100px;
 width : 100%;
 border-left: 1px solid #e5e5e5;
  background-color:   #f2f1ec;
}

/*Media Queries*/
/* For mobile phones */

@media (max-width: 767px) {
  body,
  html {
    zoom: 100%;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

.header-content{
 flex :1;
 width: 100%;
 display: flex;
 flex-direction: column;
  align-items: center;
}

.header-content--start{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.website-name{
  font-size: 2rem !important;
  text-align: center;
}

.header-content--right{
  margin: 0;
  padding: 0;
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}

.btn {
  margin: 0;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 0;
}

.btn svg {
  margin : 0;
  height: 40px;
  width: 40px;
 
}

.hide-text {
  display: none;
}

.content-container{
  flex:-1;
  position: relative;
  margin-top: 145px;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.logo-container{
  display: flex;
  flex : 0;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 200px;
  margin-top: 20px;
  height: 200px;
  align-items: center;
}

.logo {
  padding: 0;
  height: 180px;
  width: 180px;
  margin-left : -2px !important;
 justify-content: center;
}

.search-container{
  display: flex;
  flex-direction: row;
  margin-top:40px;
  width: 200px;
  height: 50px;
}

.search-form{
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.search-form input{
  width: 300px;
  height: 50px;
  font-size: 1rem;
}

.search-form input::placeholder {
  font-family: "Roboto-mono", monospace;
  font-size: 1rem; /* Change the font size here */
  color: #000000;
  font-weight: 500 !important;
}

.pioneer-information-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

.pioneer-information-container h1{
  font-size: 2rem !important;
  text-align: center;
}

.border-seperation-container{
 display: none;
}

footer{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 50px;
  background-color: #000000;
  color: white;
  height: auto;
  bottom: 0;
}

footer {
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}

.footer__content {
  flex-direction: column;
}

.column-container {
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
 
}

.column-container-1{
  margin: 0;
  padding: 0;
  align-items: center;
}
.column-container-2{
  margin: 0;
  padding: 0;
  align-items: center;
}


.column-1, .column-2 {
  margin: 0;
  padding: 0;
  align-items: center;
}

footer h2 {
  font-size: 1.8rem;
  text-align: center;
  margin-left: 0;
  margin-top: 15px;
}

footer li {
  font-size: 1rem;
  margin-left: 0;
  margin-top: 5px;
}

}