<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <img
            src="/images/Pioneers-in-computer-science-logo-v1.png"
            alt="Pioneers in Computer Science LOGO"
            class="logo"
            id ="footer-logo"
          />
      </a>
    
    </div>
    <div class = "col mb-3">
      
    </div>
    <div class="col mb-3">
      <h5>Site Essentials</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/privacy_policy" class="nav-link p-0 text-body-secondary">Privacy Policy</a></li>
        <li class="nav-item mb-2"><a href="/copyright" class="nav-link p-0 text-body-secondary">Copyright Information</a></li>
        <li class="nav-item mb-2"><a href="/accessibility" class="nav-link p-0 text-body-secondary">Accessibility Statement</a></li>
        <li class="nav-item mb-2"><a href="/disclaimer" class="nav-link p-0 text-body-secondary">Disclaimer</a></li>
      </ul>
    </div>
  </footer>
</div>
</body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"
  ></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  </html>